# Dependencies
node_modules/

# Environment variables
.env

# Database
database/*.db
database/*.db-journal

# Keys
keys/*.pem
keys/*.key

# Logs
logs/*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

#Carpeta de pdf
pdf_testament